

<div class="container-fluid pt-4 bg-cust-4 w-100" style="height: 100vh;">
    <div class="row  w-cust-1 bg-cust-4 " style="margin-left: 15%;" >
        <h3>Users</h3>
            <table style="background: whitesmoke;border: 
            3px solid rgb(29, 28, 28);margin: 8px;">
                <thead>
                    <tr >
                        <th>username</th>
                        <th>email_address</th>
                        <th>phone_no</th>
                    </tr>
                </thead>

                <tbody style="border: 2px solid black;">
                    {% for users in tabled_users %}
                    <tr>
                        <td>{{users.username}}</td>
                        <td>{{users.email_address}}</td>
                        <td>{{users.phone_no}}</td>
                    </tr>
                    {% endfor %}
                </tbody>   

            </table> 
    </div>
                    
    <!-- <div>             
        <table class="table table-bordered table-hover p-5 m-1 width-1 border-color">
            <caption>...</caption> 

            <thead>
                <tr class="bg-1">
                    <th>username</th>
                    <th>email_address</th>
                    <th>phone_no</th>
                </tr>
            </thead>

    
            <tbody>
                {% for users in tabled_users %}
                <tr >
                    <td>{{users.username}}</td>
                    <td>{{users.email_address}}</td>
                    <td>{{users.phone_no}}</td>
                </tr>
                {% endfor %}
            </tbody>   
        </table> 
    </div>                    -->
</div>