{% extends 'base.html' %}
{% block title %}
    About page
{% endblock %}
 
{% block content %} 

  <div class="container-fluid py-3 px-5 pb-5 font-monospace">
    
    <div class="row rounded-1 p-1 border-cust-1 bg-cust-3">

      <div class="col-lg-7 h-cust-1">
        <div id="carouselExampleControls" class="m-1 carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner p-1">
            <div class="carousel-item active">
              <img class="d-lg-block w-100 cust-css-3 rounded-3"  src="static/img2/fifa_n01.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/fifa_n02l.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/halland.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/messi.jpg">
            </div>          
          </div>
        </div>
      </div>

      <div class="col-lg-4 mx-cust-2 bg-cust-3 cust-css-2 text-align h-cust-1" style="margin-top: 6vh;" id="vague">
        <h4>FIFA 23/24</h4>
        <small>
          Experience the thrill of the world's most popular sport in FIFA 24/23. With stunning graphics, lifelike gameplay, and authentic player movements, immerse yourself in the excitement of football like never before. Build your dream team, compete in dynamic matches, and dominate the pitch to become the ultimate champion.
        </small>
      </div>    

    </div>

    <div class="row mt-2 p-1 border-cust-2 bg-cust-3">

      <div class="col-lg-4 bg-cust-3 cust-css-2  text-align h-cust-1"id="vague" >
        <h4>CALL OF DUTY(MW/GHOSTS)</h4>
        <small>
          Join the ranks of elite soldiers and engage in intense combat missions in Call of Duty: Ghosts/Modern Warfare. With cinematic storytelling, immersive multiplayer modes, and cutting-edge graphics, experience the adrenaline rush of modern warfare like never before. Whether you're battling against terrorists or participating in high-stakes multiplayer matches, every moment is filled with action and intensity
        </small>
      </div>

      <div class="col-lg-7 mx-cust-2 h-cust-1" style="margin-top: 6vh;">
        <div id="carouselExampleControls" class="carousel-fade m-1" data-bs-ride="carousel">
          <div class="carousel-inner p-1">
            <div class="carousel-item active">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/codaw_n01.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/codmf3_01.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/codmf2_01.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/pricemw.jpg">
            </div>
          </div>
        </div>       
      </div>

    </div>

    <div class="row mt-2 p-1 border-cust-2 bg-cust-3">

      <div class="col-lg-7 h-cust-1">
        <div id="carouselExampleControls" class="carousel-fade m-1" data-bs-ride="carousel">
          <div class="carousel-inner p-1">
            <div class="carousel-item active">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/pbg01.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/pbg02.jpg">
            </div>
            <!-- <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="">
            </div>            -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 mx-cust-2 bg-cust-3 cust-css-2  text-align h-cust-1"  style="margin-top: 6vh;" id="vague">
        <h4>PUBG</h4>
        <small>
          Drop into a vast battleground and fight for survival in PUBG. With its intense multiplayer gameplay and strategic combat mechanics, every match is a heart-pounding struggle for dominance. Scavenge for weapons, outsmart your opponents, and be the last one standing in this adrenaline-fueled battle royale experience.
        </small>
      </div>

    </div>

    <div class="row mt-2 p-1 border-cust-2 bg-cust-3">

      <div class="col-lg-4 bg-cust-3 cust-css-2  text-align height-1" id="vague">
        <h4>SUICIDE SQUAD(KILL THE JUSTICE LEAGUE)</h2>
        <small>
          Prepare for an explosive showdown in Suicide Squad: Kill the Justice League. Play as iconic DC villains and embark on a daring mission to take down the legendary Justice League. With dynamic gameplay, an engaging storyline, and larger-than-life battles, experience the darker side of the DC universe in this thrilling action-adventure game.
        </small>
      </div>

      <div class="col-lg-7 mx-cust-2 h-cust-1" style="margin-top: 6vh;">
        <div id="carouselExampleControls" class="carousel-fade m-1" data-bs-ride="carousel">
          <div class="carousel-inner p-1">
            <div class="carousel-item active">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/jl_n01.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/jl_n02.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/kjl_n01.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/kjl_n02.jpg">
            </div>           
          </div>
        </div>
      </div>  

    </div>

    <div class="row mt-2 p-1 border-cust-2 bg-cust-3">

      <div class="col-lg-7 h-cust-1">
        <div id="carouselExampleControls" class="carousel-fade m-1" data-bs-ride="carousel">
          <div class="carousel-inner p-1">
            <div class="carousel-item active">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/mkx_n03.png">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/mkx_n02.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100" style="height: 75vh;" src="static/img2/mkx_n01.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100" style="height: 75vh;" src="static/img2/noob.jpg">
            </div>           
          </div>
        </div>
      </div>

      <div class="col-lg-4 bg-cust-3 cust-css-2  mx-cust-2 text-align h-cust-1" style="margin-top: 6vh;" id="vague">
        <h4>MORTAL COMBAT(X/10)</h4>
        <small>      
          Return to where it all began with Mortal Kombat 1. Experience the groundbreaking fighting game that started a revolution in the gaming industry. Choose your warrior from a diverse roster of characters and engage in visceral one-on-one combat. Relive the classic arcade experience with enhanced graphics and timeless gameplay
        </small>
      </div>

    </div>

    <div class="row mt-2 p-1 border-cust-2 bg-cust-3">

      <div class="col-lg-4 bg-cust-3 cust-css-2  text-align h-cust-1" id="vague">
        <h4>NEED FOR SPEED(PAYBACK/HEAT)</h4>
        <small>          
          Fuel your need for speed in Need for Speed Heat/Payback. Race through the vibrant streets of an open-world environment, where the line between law enforcement and illegal racing blurs. Customize your ride, evade the cops, and compete against rival crews in high-octane pursuits. The choice between risk and reward is yours in this adrenaline-fueled journey.
        </small>
      </div>

      <div class="col-lg-7 mx-cust-2 h-cust-1" style="margin-top: 6vh;">
        <div id="carouselExampleControls" class="carousel-fade m-1" data-bs-ride="carousel">
          <div class="carousel-inner p-1">
            <div class="carousel-item active">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/nfspayback_n01.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/unbound02.jpg">
            </div>
            <!-- <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/nfspayback2.jpg">
            </div> -->
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/unbound01.jpg">
            </div>           
          </div>
        </div>
      </div>  

    </div>

    <div class="row mt-2 p-1 border-cust-2 bg-cust-3">

      <div class="col-lg-7 h-cust-1">
        <div id="carouselExampleControls" class="carousel-fade m-1" data-bs-ride="carousel">
          <div class="carousel-inner p-1">
            <div class="carousel-item active">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/gt_n03.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/gt_n02.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/gt_n01.jpg">
            </div>
            <!-- <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="">
            </div>            -->
          </div>
        </div>          
      </div>

      <div class="col-lg-4 bg-cust-3 cust-css-2  mx-cust-2 text-align h-cust-1" style="margin-top: 6vh;" id="vague">
        <h4>GRAN TURISMO 7/5/6</h4>
        <small>          
          Gear up for the ultimate racing simulation experience with Gran Turismo 7/5/6. Featuring meticulously recreated cars and tracks, realistic physics, and stunning visuals, immerse yourself in the world of competitive motorsport. From casual races to professional championships, test your driving skills against the best in the world in this definitive racing franchise.
        </small>
      </div>

    </div>

    <div class="row  mt-2 p-1 border-cust-3 bg-cust-3">

      <div class="col-lg-4 bg-cust-3 cust-css-2  text-align h-cust-1" id="vague">
        <h4>GTA 6/5</h4>
        <small>
          Immerse yourself in the sprawling sandbox worlds of Grand Theft Auto VI/V. Explore vast cities teeming with life, where every choice you make shapes the narrative. Engage in action-packed missions, embark on daring heists, or simply roam the streets causing chaos. With unparalleled freedom and immersive storytelling, experience the epitome of open-world gaming
        </small>
      </div>

      <div class="col-lg-7 mx-cust-2 h-cust-1" style="margin-top: 6vh;">
        <div id="carouselExampleControls" class="carousel-fade m-1" data-bs-ride="carousel">
          <div class="carousel-inner p-1">
            <div class="carousel-item active">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/gta5_n01.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/gta6_n02.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" src="static/img2/gta_n01.jpeg">
            </div>
            <!-- <div class="carousel-item">
              <img class="d-lg-block w-100 cust-css-3 rounded-3" ssrc="">
            </div>            -->
          </div>
        </div>
      </div>  

    </div>

  </div>

{% endblock %}
