{%extends 'base.html'%}
{% block title %}
    Home page
{% endblock %}

{% block content %}
  <div class="container-fluid pt-5 pb-5 ">    
    <div class="row rounded pb-3 bg-cust-3 width-4 custom-height font-monospace" id="mx-cust">
      <div class="col-lg-7 text-left pt-5 pb-cust px-lg-5 px-sm-3 cust-css-2">
        <div >
          <!-- <p >To all the game marshials out there</p> -->
          <h2 class="typewriter"><span >To all the game marshials out there</span> </h2>
          <h2 class="typewriter"><span >You are welcomed to our vogue bay</span></h2> 
          <h2 class="typewriter"><span >We are here to offer you a thrilling, unmatched gaming experience</span></h2>
          <h2 class="typewriter"><span >Bringing you both infamous and well known games across the gaming multiverse</span> </h2>
          <h2 class="typewriter"><span >Harbouring FPS games ,to strategic racing games, story based games such as 'God of War', and not leaving out the frenzy lego games</span></p>
          <h2 class="typewriter"><span >Limit is not a factor in our world</span></h2>
          <h2 class="typewriter"><span >Check out the games available on the multiverse page ,Book a slot to join the fun</span></p>
        </div>
        
      </div>
      
      <div class="col-lg-4 cust-css">
        <h3 class="text-center cust-css-1">
        Message for the gamers
        </h3>
      </div>
    </div>
  </div>         

{% endblock %}
