
{% extends 'base.html' %}
{% block title %}
   Enrolls page
{% endblock %}

{% block content %}
    <div class="container-fluid pb-1 font-monospace p-3">
        <div class="nav-bar bg-cust-4 cust-css-2 w-cust-2 mb-3  text-center mx-auto rounded-1">
            <h3>My submissions</h3>
        </div>
    
        {% for booked_item in booked_user %}
           
            <div class="booking-cards w-cust-2 my-2 text-dark rounded mx-auto " style="background-color: #dfcfcfdc;" >
            
                <div class="booking-card text-center py-3">
                    <p><strong>Games:</strong> {{ booked_item.games }}</p>
                    <p><strong>Console:</strong> {{ booked_item.console }}</p>
                    <p><strong>Timeslot:</strong> {{ booked_item.timeslot }}</p>
                    <p><strong>Dateslot:</strong> {{ booked_item.dateslot }}</p>

                    <form action="{{ url_for('delete_booking') }}" method="post">
                        <input type="hidden" name="booking_id" value="{{ booked_item.id }}">

                        <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Delete
                        </button>

                        <!-- Deletion Modal -->

                        <div class="modal fade bg-cust-3" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header  bg-danger-subtle">
                                        <h5 class="modal-title" id="deleteModalLabel">Delete Booking</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body ">
                                        Delete this booking?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                
            </div> 
            
        {% endfor %} 
                
    </div>
    
    
  
{%endblock%}