/* use % for width and vh for  object 
positioning if vh n % are used to define page 
parameters
*/

*{
    margin: 0;
    padding: 0;
}

.content{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent),
    linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent),   
    url(https://images5.alphacoders.com/712/712972.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.nav{
    position: relative;
    align-items: center;
    padding: 15px;
}

.nav ul{
    text-align: right;
}

.nav li{
    list-style: none;
    display: inline-block;
    padding: 4px;
    position: relative;  
}

.nav a{
    color: rgb(225, 225, 225);
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
}

.nav ul li a:hover{
    background: rgba(32, 43, 196, 0.4);
}

section .fa{
    display: none;
}

.intro{
    width: 50%;
    transform: translate(50%, 20vh);
    /* border: 1px black none; 
    border-radius: 5px;  */
    text-align: center; 
    /* background: rgb(85, 85, 7);  */
}

.intro h2{
    font-family: Tahoma;
    color: rgba(238, 238, 238, 0.8);  
    margin-bottom: 3%; 
    text-decoration: overline 3px rgba(255, 255, 255, 0.8);
}

.intro p{
    font-family: Helvetica;
    font-size: 40px;
    color: blue;  
}

.start{
    text-align: center;
    transform: translate(55%, 40vh); 
    width: 50%;
    padding: 2%;
    border: 1px white solid;
    border-radius: 5px;
    background: rgba(6, 23, 54, 0.774);
    text-align: center;
}

.start:hover{
    cursor: pointer;
    background: rgb(3, 39, 105);
    box-shadow: 0 0 20px 0 rgba(0, 0, 255, 0.5);
     
}

.start a{
    text-decoration: none;
    color: rgba(238, 238, 238, 0.8);  
}

@media (max-width: 700px){        
    .nav li{
        display: block;
    }
    .intro{
        padding-top: 3vh;
        margin-left: 10%;
        width: 80%;
        transform: translate(0, 0);
        border: 1px black solid ;
        border-radius: 5px;
        /* text-align: left; */
        height: 60vh;
        text-align: center;
    }
    .start{
        width: 50%;
        transform: translate(45%, 3vh);       
    }
}

.footer{
    /* background: linear-gradient(to bottom, rgba(1, 2, 10, 0.9),transparent),
    linear-gradient(to top, rgba(1, 2, 10, 0.9),transparent);*/
    text-align: center;
    padding-top: 2%;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;    
}

.row{
    display: flex;
    justify-content: space-between;
}

.foot-column{
    flex-basis: 44%;
    color: black;
    /* box-sizing: border-box; */
    border-top: 1px black solid;
    border-radius: 10px;
    margin: 2% 2%;
}
.foot-column h3{
    font-family: Impact;
    font-size: 25px;
}
.foot-column p{
    font-family: Verdana;
}

.icons fa{
    color: black;
    cursor: pointer;
    padding: 20px; 
    display: inline-block;
}

@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
    .foot-column{
        margin-top: 10px;
    }
}



