
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

.container{
    width: 100%;
    height:100vh;
    background: linear-gradient(to right, rgba(7, 7, 7, 0.7),transparent), linear-gradient(to right, rgba(7, 7, 7, 0.3),transparent), 
    linear-gradient(to left, rgba(7, 7, 7, 1),transparent), linear-gradient(to left, rgba(7, 7, 7, 1),transparent), 
    url(https://images3.alphacoders.com/711/711050.jpg);
    /* background-size: 1px 100%;  */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form{
    width: 30%;
    height: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: transparent;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgb(243, 243, 243);
    position: relative;
}

.fa-paper-plane{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(247, 232, 232);
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
   
}

.input-group label{
    flex-basis: 28%;
    color: white;
}

.input-group input, .input-group textarea{
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: rgb(112, 155, 247);
    font-size: 16px;
}

/*::is a pseudo-element selector in CSS that targets the placeholder text of an input element. 
Placeholder text is the text that appears in an input field before the user enters any value */
::placeholder{
    font-size: 14px;
    color: white;
}

form button{
    background: transparent;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}

form button:hover{
    background: rgb(30, 248, 30);
    color: black;
}

.input-group span{
    position: absolute;
    bottom: 12px;
    right: 17px;
    color: rgb(247, 49, 49);
}

#submit-error{
    color: rgb(247, 49, 49);
}

.input-group span i{
    color: seagreen ;
}

.register p{
    color: rgba(255, 255, 255, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1% 0 0 20%;

} 

.register button{
    background: transparent;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 70%;
    /* block display allows the buttons to take the full width of their parent containers and stacking vertically. */
    display: block;
    margin: 10px auto 10px;
}

.register button:hover{
    background: rgba(172, 169, 169, 0.9);
    
}

.register a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 10px;
}

.register a:hover{
    color: rgba(0, 0, 0, 1);
}