
/* Portrait phones */
@media (max-width: 760px) { 
    .mx-cust-2{
        margin-left: auto;
    }
    .pb-cust-1{
        padding: 2vh 0 0 20%;
    }
    .cust-css{
        border-left: none;
        margin-left: 1%;
    }
    .cust-css-1{
        border-top: 2px solid rgba(241, 217, 217, 0.774);
        padding-top: 5vh;
        margin-top: 1vh;
        margin-bottom: 5vh;
    }
}

/* landscape tablets n landscape phones */
@media (max-width: 1280px) { 
    .mx-cust-2{
        margin-left: auto;
    }
    .cust-css{
        border-left: none;
        margin-left: 1%;
    }
    .cust-css-1{
        border-top: 2px solid rgba(241, 217, 217, 0.774);
        padding-top: 10vh;
        margin-top: 24vh;
        margin-bottom: 5vh;
    }   
}

/* portrait tablets n landscape phones */
@media (max-width: 810px) { 
    
    .mx-cust-2{
        margin-left: auto;
    }
    .cust-css{
        border-left: none;
        margin-left: 1%;
    }
    .cust-css-1{
        border-top: 2px solid rgba(241, 217, 217, 0.774);
        padding-top: 10vh;
        margin-top: 24vh;
        margin-bottom: 5vh;
    }   
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    .margin-l2{
        margin-left: auto;
    }
    .pb-cust-1{
        padding: 2vh 0 0 0;
    }
    .m-cust-1{
        margin-left: 20%;
    }
    .down{
        padding-bottom: 2px;
    }
    .cust-css-1{
        border-top: 2px solid rgba(241, 217, 217, 0.774);
        padding-top: 5vh;
        margin-top: 1vh;
        margin-bottom: 5vh;
    }
    .cust-css{
        border-left: none;
        margin-left: 1%;
    }   
    #smalls{
        background: linear-gradient(to left, rgb(22, 77, 94), transparent),
        linear-gradient(to right, #353d3d, transparent); ;
    }
    #border-02,#border-9{
        border: none;
        background: linear-gradient(to right, #353d3d, transparent);
        box-shadow: none;
    }
    #foot{
        margin-left: auto;
    }
}


@media (max-width: 991.98px) {
    .navbar-collapse {
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      max-width: 250px; /* Adjust as needed */
      height: 100vh;
      z-index: 2;
      padding-top: 3.5rem; /* Adjust according to navbar height */
      transition: all 0.3s ease;
      background-color: #333;
    }
    /* .show is a bootstrap class added during interaction with an element */
    .navbar-collapse.show {
      right: 0;
    }

    .navbar-nav {
      flex-direction: column;
    }

    .navbar-nav .nav-item {
      margin-right: 0;
    }
  }