
 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About-us</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/About.css') }}">
</head>

<body>
  <section class="head">

    <nav class="nav">
      
     <a class="book" href="{{ url_for('Bookings_page') }}">BOOK NOW</a>
    
      <ul>
        <li><a href="{{ url_for('home_page') }}">Home</a></li>
        <li><a href="{{ url_for('About_page') }}">About</a></li>
        <li><a href="{{ url_for('Bookings_page') }}">Bookings</a></li>
        <li><a href="{{ url_for('login_page') }}">Login</a></li>
        <li><a href="{{ url_for('Register_page') }}">Register</a></li>
      </ul>
    </nav>

  </section>  

  <section class="categories">
    <div class="row">
      <div class="game01">
        <img src="" alt="">
      </div>

      <div class="contets">
        <p>
          <h2>FIFA 23/24</h2>
          Lets check em out!
        </p>
      </div>        
    </div>

    <div class="row">
      <div class="contets02">
        <p>
          <h2>CALL OF DUTY(MW/GHOSTS)</h2>
          Lets check em out!
        </p>
      </div>

      <div class="game01">
        <img src="" alt="">
      </div>  
    </div>

    <div class="row">
      <div class="game01">
        <img src="" alt="">
      </div>

      <div class="contets">
        <p>
          <h2>PUBG</h2>
          Lets check em out!
        </p>
      </div>       
    </div>

    <div class="row">
      <div class="contets02">
        <p>
          <h2>SUICIDE SQUAD(KILL THE JUSTICE LEAGUE)</h2>
          Lets check em out!
        </p>
      </div>

      <div class="game01">
        <img src="" alt="">
      </div>  
    </div>

    <div class="row">
      <div class="game01">
        <img src="" alt="">
      </div>

      <div class="contets">
        <p>
          <h2>MORTAL COMBAT(11)</h2>
          Lets check em out!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="contets02">
        <p>
          <h2>NEED FOR SPEED(PAYBACK/HEAT)</h2>
          Lets check em out!
        </p>
      </div>

      <div class="game01">
        <img src="" alt="">
      </div>  
    </div>

    <div class="row">
      <div class="game01">
        <img src="" alt="">
      </div>

      <div class="contets">
        <p>
          <h2>GRAN TURISMO 7/5/6</h2>
          Lets check em out!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="contets02">
        <p>
          <h2>GTA 6/5</h2>
          Lets check em out!
        </p>
      </div>

      <div class="game01">
        <img src="" alt="">
      </div>  
    </div>

  </section>

  <section class="footer">

    <div class="row">
      <div class="foot-column">
          <p>
              <h3> Join the club</h3>
              For any enquiries,contact us using the social platforms
              provided
          </p>
      </div>

      <div class="foot-column">
          <p>
              <h3> Join the club</h3>
              For any enquiries,contact us using the social platforms
              provided
          </p>
          <!-- <div class="icons">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-linkedin"></i>
          </div> -->
      </div>
   </div>
  </section>

  <script src="{{ url_for('static', filename='javascript/slides.js')}}"></script>

</body>
</html>
