

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}"> -->
    <title>Bookings</title>
</head>

<body>
    
    <section class="container">

        <form action="" class="content">
            <div class="group">
                <label>Username</label>
                <input type="text" placeholder="Gaming Username" id="contact-username" onkeyup="validateName()">
                <span id="name-error"></span>
            </div>

            <div class="group">
                <label>PS of choice</label>
                <input type="checkbox" name="radio-btn" id="radio1">
                <input type="checkbox" name="radio-btn" id="radio2">
            </div>
            
            <div class="group">
                <label>select games</label>
                <input type="checkbox" name="radio-btn" id="radio1">
                <input type="checkbox" name="radio-btn" id="radio2">
                <input type="checkbox" name="radio-btn" id="radio1">
                <input type="checkbox" name="radio-btn" id="radio2">
                <input type="checkbox" name="radio-btn" id="radio1">
                <input type="checkbox" name="radio-btn" id="radio2">
                
            </div>
            
            <div class="group">
                <label>message</label>
                <textarea rows="5" placeholder="Enter your message" id="contact-message" onkeyup="validateName()"></textarea>
                <span id="message"></span>
            </div>
            
            <div class="group">
                <button onclick="return validateform()">Submit</button>
            </div>

        </form>
    </section>

    <section class="footer">
        <div class="row">
            <div class="foot-column">
                <p>
                    <h3> Join the club</h3>
                    For any enquiries,contact us using the social platforms
                    provided
                </p>
            </div>

            <div class="foot-column">
                <p>
                    <h3> Join the club</h3>
                    For any enquiries,contact us using the social platforms
                    provided
                </p>
    </section>
</body>
</html>
























