
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
</head>

<body>
  <section class="container">
    <form method=""> 
      <i class="fas fa-paper-plane"></i>

      <div class="input-group">
        <label>Email Id:</label>
        <input type="email" placeholder="Enter Email" id="contact-email" onkeyup="validateEmail()">
        <span id="email-error"></span>
      </div>   

      <div class="input-group">
        <label>Password:</label>
        <input type="passwd" placeholder="123password" id="contact-password" onkeyup="validatepassword()">
        <div>
          <span id="Password-error"></span>
        </div>
      </div>


      <div class="submit">
        <button onclick="return validateform()">Submit</button>
        <span id="submit-error"></span>
      </div>

      <div class="register">
        <p>Do not have an account?</p>
        <button ><a href="{{ url_for('Register_page')}}">Register</a></button>
      </div>
      
    </form>

  </section>

  <script src="{{ url_for('static', filename='javascript/login.js') }}"></script>
</body>
</html>